.disabled {
  pointer-events: none;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.grey path {
  fill: rgb(189, 203, 219);
}

.has-background-primary .grey path {
  fill: rgb(255, 255, 255);
}

.downloaded path {
  fill: rgb(92 184 92) !important;
}

.has-background-primary .downloaded path {
  fill: rgb(123 229 123) !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
